body {
    font-family: 'Inter', sans-serif;
}

.chart-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    max-height: 400px;
}

@media (min-width: 768px) {
    .chart-container {
        height: 350px;
    }
}